* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px; 
    color: seashell;
    background-color: black;
    text-align: center;
    align-items:center;
    margin: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
}
nav ul{
  display: flex;
  justify-content: space-around;
  text-decoration: underline;
  list-style-type: none;
}
nav li {
    padding: 0 10px;
}
nav img {
    margin: 10px;
    height: 50px;
}
a:hover{
  font-size:25px;
  color: red;
  cursor: pointer;
  transition: color .1s ease-in font-size .1s ease-in-out;
}
#mission{
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: auto;
  max-width: 1200px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  
}
#mission div{
  background-color: black;
  width: 100%;
  text-align: center;

}
#tea-month{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.tea-pics{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  max-width: 1000px;
}
.tea-pics img {
    width: 300px;
    height: 200px;
    padding:10px; 
}
#Locations {
  background-image: url("img-locations-background.jpg");
  position: static;
  height: 500px;
  
  text-align: center;
}

#Locations h2 {
  position: relative;
  top: 100px;
  background-color: transparent;
}

.loca-box {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
}

footer div{
  height: 200px;
  margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.copyright {
  margin-top: 20px;
  text-align: left;
    
}